@font-face {
    font-family: roboto;
    src: url(assets/font/Roboto-VariableFont_wdth,wght.ttf);
}

:root{
    --light-blue: #1992d4;
    --light-gray: #e2e8f0;
}

html, body{
    margin: 0px;
    padding: 0px;
}

p{
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 1fr, 5fr;
    grid-template-columns: 1fr, 6fr;
}

.header{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#upperheader{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}

#upperrightheader{
    display: flex;
    margin-left: 150px;
    gap: 15px;
}

#upperleftheader{
    display: flex;
    gap: 20px;
}

#profile-picture{
    align-self: center;
}

#lowerheader{
    display: flex;
    flex-grow: 0;
    align-items: center;
}

#lowerleftheader{
    display: flex;
}

#headerbuttons{
    display: flex;
    margin-left: 300px;
    gap: 20px;
}

#bigprofilepicture{
    margin-left: 10px;
}

.sidebar{
    background-color: var(--light-blue);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.content{
    background-color: var(--light-gray);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.header button{
    background-color: var(--light-blue);
    font-size: 15px;
    color: #ffffff;
    border: 0px;
    width: 100px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 75px;
}

#profile-text, 
#greeting, 
#username,
.header button{
    font-weight: bold;
}

#greeting{
    font-size: 10px;
}

#username{
    font-size: 20px;
}

#searchbar{
    border: 0px;
    background-color: var(--light-gray);
    width: 500px;
    height: 20px;
    border-radius: 15px;
}